<div class="row">
    <div class="col-md-6 offset-md-3">
        <img id="getty-images-logo" src="dist/assets/images/getty-logo.jpg" class="img-fluid mx-auto" />
        <form (ngSubmit)="onSubmit()" #searchFormPage="ngForm" role="search">
            <div class="input-group">
                <input type="text" name="search-term" class="form-control" [(ngModel)]="searchTerm" placeholder="Please insert search term ...">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
