<div class="sk-cube-grid" *ngIf='!images'>
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
</div>

<ol id="search-term-display" class="breadcrumb" *ngIf='images'>
  <li class="breadcrumb-item active">Your search result for <b><i>{{searchTerm}}</i></b></li>
</ol>

<div class="col-sm-12" *ngIf='images && !(images.length > 0)'>
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">No images where found</h4>
            <p class="card-text">Your search result didn't yield any results. Please try again with a different search term.</p>
        </div>
    </div>
</div>
<div class="col-sm-6 col-md-3 .visible-md-clearfix" *ngFor="let image of images">
    <div class="image-area text-xs-center">
        <a [routerLink]="['/detail',  image.id]">
            <figure class="imghvr-zoom-in">
                <img class="preview-image" [src]="image.previewUri" />
                <figcaption>
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </figcaption>
            </figure>
        </a>
    </div>
</div>